.container
  .row
    .form-group
      %input.form-control{type: "text", placeholder: "Search"}
  .row
    .col-lg-4
      %table.table.table-bordered
        %tr
          %th
            Query
          %th
            Count
    .col-lg-8
      %table.table.table-bordered
        %tr
          %th
            Results
          %th
            Query